@media screen
  .nav
    width 1200px
@font-face
  font-family abc
  src url("fonts/Gargoyles.ttf")
.footer
  font-family abc
  font-style 100px
@keyframes rot
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)
.container
  width 100px
  height 100px
  background red
  animation (rot 1s ease infinite)
.forNew
  color white
.new
  @extend .forNew
  position:absolute
  left 50%
  top 40%
  margin-left -6.25rem
  margin-top 234px

.newOne
  @extend .new
  width 12.5rem
  height 7.5rem
  background:red
.add
  margin unit(1+3,px)
  padding 1px \+ 0.1875rem
  font 14px/2 arial
  font (14px/2) arial